---

---

<!-- <div class="ft-lumulu--bnr" style="padding: 0 5%; margin:50px auto;"><a href="https://lumulu.jp/" target="_blank">
    <img src="https://store.world.co.jp/s/brand/tk/lumulu/img/bnr_lumulu-main_pc.jpg" alt="" style="width: 100%">
    </a></div> -->
<div id="tk-footer">
  <p id="pagetop_sp"><a href="#tk-header">PAGE TOP</a></p>
  <div class="tk_headfoot">
    <div class="tk_headfoot_section01">
      <p class="tk_label">ONLINESTORE:</p>
      <ul class="tk_headfoot_list01">
        <li>
          <a href="#" class="nav_mens">MENS</a>
          <div class="mens_cat">
            <div class="sub-mens_cat">
              <a href="#" class="sub-nav_mens">トップス</a>
              <ul class="subnav_mens">
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XB02,XB03,XB04,XB05,XB06,XB12,XB15,XB17,XB99&link_id=170_F_shopping01">カットソー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XB09,XB10,XB99&link_id=170_F_shopping02">シャツ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XB01,XB06,XB17,XB99&link_id=170_F_shopping03">ニット</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XA01,XA02,XA03,XA04,XA05,XA06,XA07,XA08,XA21,XA22,XA23,XA99&link_id=170_F_shopping04">ジャケット</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XA06,XA07,XA08,XA09,XA10,XA11,XA12,XA13,XA14,XA15,XA16,XA17,XA18,XA19,XA20,XA21,XA22,XA23,XA99&link_id=170_F_shopping06">コート</a></li>
              </ul>
            </div>
            <ul class="subnav_nomal">
              <li><a href="https://store.world.co.jp/s/brand/tk/category/XE/?dbr=BR170&link_id=170_F_shopping05">パンツ</a></li>
            </ul>
            <div class="sub-mens_cat">
              <a href="#" class="sub-nav_mens">雑貨</a>
              <ul class="subnav_mens">
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XK01,XK02,XK03,XK04,XK05,XK06,XK07,XK08,XK09,XK10,XK12,XK13,XK99&link_id=170_F_shopping07">バッグ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XJ/?dbr=BR170&link_id=170_F_shopping08">シューズ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&it=XK13,XK14,XK15,XK16,XK99,XN16&link_id=170_F_shopping09">財布/小物入れ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XL/?dbr=BR170&link_id=170_F_shopping10">帽子</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XM/?dbr=BR170&link_id=170_F_shopping11">アクセサリー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN01/?dbr=BR170&link_id=170_F_shopping12">マフラー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN07/?dbr=BR170&link_id=170_F_shopping13">グローブ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN05/?dbr=BR170&link_id=170_F_shopping14">ベルト</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN06/?dbr=BR170&link_id=170_F_shopping15">眼鏡</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XT&st=1&so=NEW&link_id=170_F_shopping16">コスメ・フレグランス</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XN99,AN01,XT&st=1&so=NEW&link_id=170_F_shopping17">その他雑貨</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/wrapping/?link_id=170_F_shopping18">ラッピングキット</a></li>
              </ul>
            </div>
            <ul class="subnav_nomal">
              <li class="cat_btm"><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&link_id=170_F_shopping19">すべてのアイテム</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BR170&du=0&so=NEW&link_id=170_F_shopping20">新着アイテム</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/sale/?link_id=170_F_shopping21">セール</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/men/ranking/?link_id=170_F_shopping22">ランキング</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="nav_womens">WOMENS</a>
          <div class="womens_cat">
            <div class="sub-womens_cat">
              <a href="#" class="sub-nav_womens">トップス</a>
              <ul class="subnav_womens">
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WB02,WB03,WB04,WB05,WB06,WB12,WB15,WB11,WB99&link_id=170_F_shopping23">カットソー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WB07,WB08,WB99&link_id=170_F_shopping24">シャツ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WB01,WB06,WB17,WB99&link_id=170_F_shopping25">ニット</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WA01,WA02,WA03,WA04,WA05,WA06,WA07,WA08,WA21,WA22,WA23,WA99&link_id=170_F_shopping26">ジャケット</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WA06,WA07,WA08,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA22,WA23,WA99&link_id=170_F_shopping28">コート</a></li>
              </ul>
            </div>
            <ul class="subnav_nomal">
              <li><a href="https://store.world.co.jp/s/brand/tk/category/WE/?dbr=BRP97&link_id=170_F_shopping27">パンツ</a></li>
            </ul>
            <div class="sub-womens_cat">
              <a href="#" class="sub-nav_womens">雑貨</a>
              <ul class="subnav_womens">
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WK01,WK02,WK03,WK04,WK05,WK06,WK07,WK08,WK09,WK10,WK12,WK13,WK99&link_id=170_F_shopping29">バッグ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&it=WK13,WK14,WK15,WK16,WK99,WN16&link_id=170_F_shopping30">財布/小物入れ</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/WL/?dbr=BRP97&link_id=170_F_shopping31">帽子</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/WM/?dbr=BRP97&link_id=170_H_shopping32">アクセサリー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/WN/WN01/?dbr=BRP97&link_id=170_F_shopping33">マフラー</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/WN/WN05/?dbr=BRP97&link_id=170_F_shopping34">ベルト</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/category/WN/WN06/?dbr=BRP97&link_id=170_F_shopping35">眼鏡</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XT&st=1&so=NEW&link_id=170_F_shopping36">コスメ・フレグランス</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XN99,AN01,XT&st=1&so=NEW&link_id=170_F_shopping37">その他雑貨</a></li>
                <li><a href="https://store.world.co.jp/s/brand/tk/wrapping/?link_id=170_F_shopping38">ラッピングキット</a></li>
              </ul>
            </div>
            <ul class="subnav_nomal">
              <li class="cat_btm"><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&link_id=170_F_shopping39">すべてのアイテム</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/search?dbr=BRP97&du=0&so=NEW&link_id=170_F_shopping40">新着アイテム</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/sale/search?dbr=BRP97&so=NEW&link_id=170_H_shopping41">セール</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/women/ranking/?link_id=170_F_shopping42">ランキング</a></li>
            </ul>
          </div>
        </li>

        <li><a href="https://store.world.co.jp/s/brand/tk/search?link_id=${area.value.option06}_F_all-items">すべてのアイテム</a></li>
        <li><a href="https://store.world.co.jp/s/brand/tk/search?du=0&so=NEW&link_id=${area.value.option06}_F_new-items">新着アイテム</a></li>
        <li><a href="https://store.world.co.jp/s/brand/tk/item/gift/?link_id=${area.value.option06}_F_gift">ギフト</a></li>
        <!-- <li><a href="https://store.world.co.jp/s/brand/tk/ranking/?link_id=${area.value.option06}_F_ranking-items">ランキング</a></li> -->

        <!-- アイテム用アコーディオン -->
        <li>
          <a href="#" class="nav_btn">ランキング</a>
          <div class="nav_cat">
            <ul class="subnav_tops">
              <li><a href="https://store.world.co.jp/s/brand/tk/item/ranking/?link_id=170_F_ranking-all">ALL</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/men/ranking/?link_id=170_F_ranking-mens">MENS</a></li>
              <li><a href="https://store.world.co.jp/s/brand/tk/women/ranking/?link_id=170_F_ranking-womens">WOMENS</a></li>
            </ul>
          </div>
        </li>
        <!-- アイテム用アコーディオン -->

        <li><a href="https://store.world.co.jp/s/brand/tk/wrapping/?link_id=${area.value.option06}_F_shopping27">ラッピングキット</a></li>
        <li><a href="https://store.world.co.jp/s/brand/tk/sale/?link_id=${area.value.option06}_F_sale">セール</a></li>
        <!-- <li><a href="https://store.world.co.jp/s/brand/tk/sale/?link_id=${area.value.option06}_F_shopping14" style="color: #a40001;">SALE</a></li> -->
        <li><a href="https://store.world.co.jp/help/?link_id=${area.value.option06}_F_guide">ショピングガイド</a></li>
        <li class="list_sizelist">
          <a href="#" class="nav_sizelist">サイズリスト</a>
          <div class="sizelist">
            <!-- .tep-size -->
            <div class="size-list_inr">
              <p class="size-list_title">サイズリスト</p>
              <div class="size-list_top">
                <p><span>66</span>WOMENS<br />FREE</p>
                <p><span>88</span>MENS<br />FREE</p>
                <p><span>01</span>S</p>
                <p><span>02</span>M</p>
                <p><span>03</span>L</p>
                <p><span>04</span>XL</p>
                <p><span>05</span>XXL</p>
              </div>
              <p class="size-list_title">基本ヌードサイズ</p>
              <table class="size-list_guide">
                <tbody>
                  <tr>
                    <th>表記</th>
                    <td><span>66</span><span>WOMENS FREE</span></td>
                    <td><span>01</span><span>S</span></td>
                    <td><span>02</span><span>M</span></td>
                    <td><span>03</span><span>L</span></td>
                    <td><span>04</span><span>XL</span></td>
                    <td><span>05</span><span>XXL</span></td>
                  </tr>
                  <tr>
                    <th>身長<br />中心サイズ</th>
                    <td>155～165<br />160</td>
                    <td>160～170<br />165</td>
                    <td>165～175<br />170</td>
                    <td>170～180<br />175</td>
                    <td colspan="2">175～185<br />180</td>
                  </tr>
                  <tr>
                    <th>バスト<br />中心サイズ</th>
                    <td>78～84<br />82</td>
                    <td>82～88<br />86</td>
                    <td>86～92<br />90</td>
                    <td>90～96<br />94</td>
                    <td>94～100<br />98</td>
                    <td>98～104<br />102</td>
                  </tr>
                  <tr>
                    <th>ウエスト<br />中心サイズ</th>
                    <td>62～68<br />64</td>
                    <td>68～74<br />72</td>
                    <td>72～78<br />76</td>
                    <td>76～82<br />80</td>
                    <td>80～86<br />84</td>
                    <td>84～90<br />88</td>
                  </tr>
                  <tr>
                    <th>ヒップ<br />中心サイズ</th>
                    <td>84～90<br />88</td>
                    <td>80～86<br />84</td>
                    <td>84～90<br />88</td>
                    <td>88～94<br />92</td>
                    <td>92～98<br />96</td>
                    <td>96～102<br />100</td>
                  </tr>
                  <tr>
                    <th>ネック</th>
                    <td>～34</td>
                    <td>～35</td>
                    <td>～36</td>
                    <td>～38</td>
                    <td>～39</td>
                    <td>～40</td>
                  </tr>
                </tbody>
              </table>
              <ul class="size-list_desc">
                <li>※商品の製品寸法は各商品ページをご確認ください</li>
                <li>※商品によってサイズ展開は異なります</li>
                <li>※66(WOMENS FREE)サイズは一部店舗での展開となります</li>
                <li>※05(XXL)サイズは WEB 限定展開となります</li>
              </ul>
            </div>
          </div><!-- /.sizelist -->
        </li>
      </ul>
    </div>

    <div class="tk_headfoot_section02">
      <p class="tk_label">CONTENTS:</p>
      <ul class="tk_headfoot_list01 left" style="vertical-align: top;">
        <li><a href="https://store.world.co.jp/s/brand/tk/news/?link_id=${area.value.option06}_F_news">NEWS</a></li>
        <li><a href="https://store.world.co.jp/s/brand/tk/snap-search.html?label=BR170&coordinate_label_id=700&link_id=${area.value.option06}_F_staffsnap">STAFF SNAP</a></li>
      </ul>
      <ul class="tk_headfoot_list01 right" style="vertical-align: top;">
        <li><a href="https://store.world.co.jp/real-store-search?pref=&dbr=BR170&pcf=1&so=1%2C3&link_id=${area.value.option06}_F_shoplist">SHOP LIST</a></li>
        <li><a href="https://store.world.co.jp/s/brand/tk/feature/?link_id=${area.value.option06}_F_feature">FEATURE</a></li>
      </ul>
      <ul class="tk_headfoot_list01" style="vertical-align: top;clear: both;">
        <li>
          <a href="#" class="nav_stylelook">STYLE LOOK</a>
          <div class="stylelook_cat" style="display: block;">
            <ul class="subnav_stylelook">
              <li>
                <a href="https://store.world.co.jp/s/brand/tk/feature/20240502/?link_id=170_F_stylelook01" class="">2024 SUMMER&nbsp;</a>
              </li>
              <li><a href="https://store.world.co.jp/s/brand/tk/stylelook/?link_id=170_F_stylelook00">ARCHIVES</a></li>
            </ul>
          </div>
        </li>
        <li><a href="https://store.world.co.jp/s/brand/tk/concept/?link_id=${area.value.option06}_F_concept">CONCEPT</a></li>
      </ul>
    </div>

    <div class="tk_headfoot_sns">
      <ul>
        <li><a href="https://lin.ee/Vs6tBUM" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/icon_line.svg" width="35" alt="LINE" /></a></li>
        <li><a href="https://twitter.com/_tk1999" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/icon_x.png" width="33" alt="twitter" /></a></li>
        <li><a href="https://www.facebook.com/TK.1999.world?link_id=${area.value.option06}_F_facebook" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_facebook.svg" width="35" alt="facebook" /></a></li>
        <li><a href="https://instagram.com/tk.TAKEOKIKUCHI_official/?link_id=${area.value.option06}_F_instagram" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_insta.png" width="35" alt="Instagram" /></a></li>
        <li><a href="http://wear.jp/brand/tk/?user_type=1&type_id=2" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_wear.png" width="35" alt="wear" /></a></li>
      </ul>

      <div class="footer-stageservice__area" style="width:90%; margin:0 auto;">
        <style></style>

        <link href="https://store.world.co.jp/res/s/brand/tk/common/css/stage_rank.css" rel="stylesheet" type="text/css" />

        <!--非ログイン時-->

        <div id="l_stage" class="clearfix not_login">
          <a href="https://store.world.co.jp/stage/?link_id=170_L_stage_brand">
            <div>
              <em>お買い物するほど<br />ポイントアップ・クーポン特典</em>
              <b>ステージ別サービス</b>
            </div>
          </a>
        </div>

        <!--/非ログイン時-->

        <!--ログイン時-->

        <!--/ログイン時-->
      </div>
    </div>

    <div class="tk_ft_bnr">
      <ul class="tk_headfoot_list01">
        <li class="txt_center"><a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR${area.value.option06}&mode=50_F_mailmagazine">MAIL MAGAZINE</a></li>
        <li class="txt_center" style="border: none; margin-top: 3vw;"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/" style="padding: 0;"><img src="https://store.world.co.jp/s/brand/tk/common/img/bnr_takeo-official.gif" style="width: 60%;" alt="" /></a></li>
      </ul>

      <!--<p class="inter_bna" style="margin:15px 0 0 0"><a href="https://job.rikunabi.com/2019/company/r772700035/preseminar/V002/" target="_blank"><img src="https://store.world.co.jp/p/brandec/img/spbnr_event.jpg" width="100%" alt="" /></a></p>-->
    </div>
    <!--div class="tk_ft_bnr">
    <ul class="tk_headfoot_list01 left">
    <li class="txt_center"><a href="http://my.world.co.jp/mmagazine_sc.do?mmClass=02&amp;mmCode=000023">MAIL MAGAZINE</a></li>
    </ul>
    <ul class="tk_headfoot_list01 right">
    <li class="txt_center"><a href="#">メンバー登録</a></li>
    </ul>
    </div-->

    <div class="fnav-wos">
      <div class="fnav-wos_inner">
        <ul>
          <li><a href="https://store.world.co.jp/?link_id=${area.value.option06}_F_wos" target="_blank">ワールド オンラインストア</a></li>
          <li><a href="https://store.world.co.jp/member/?link_id=${area.value.option06}_F_wpc" target="_blank">ワールド プレミアムクラブ</a></li>
          <li><a href="https://store.world.co.jp/help/?link_id=${area.value.option06}_F_wfaq" target="_blank">お客様窓口</a></li>
          <li><a href="http://corp.world.co.jp/?link_id=${area.value.option06}_F_wcompany" target="_blank">企業情報</a></li>
          <li><a href="https://store.world.co.jp/terms/?link_id=${area.value.option06}_F_wterms" target="_blank">利用規約</a></li>
          <li><a href="https://store.world.co.jp/sitepolicy/?link_id=${area.value.option06}_F_wpolicy" target="_blank">サイトポリシー</a></li>
          <li><a href="https://store.world.co.jp/privacypolicy/?link_id=${area.value.option06}_F_wprivacy" target="_blank">プライバシーポリシー</a></li>
          <li><a href="http://corp.world.co.jp/recruit/?link_id=${area.value.option06}_F_wrecruit" target="_blank">採用情報</a></li>
        </ul>
      </div>
    </div>
    <p id="copyright">Copyrights <big>©</big> WORLD CO.,LTD. All rights reserved.</p>
  </div>
</div><!-- /#tk_footer -->
