---

---

<div id="tk-header">
  <!-- block2 -->
  <div class="block2">
    <div class="top">
      <h1><a href="https://store.world.co.jp/s/brand/tk/?link_id=${area.value.option06}_H_brlogo" title="tk.TAKEO KIKUCHI"></a></h1>
      <!-- ALL MENU -->
      <div class="menu"><span class="bar bar_1"></span><span class="bar bar_2"></span><span class="bar bar_3"></span></div>
    </div>
    <div class="middle">
      <div class="header-search">
        <img class="header-search__ico" src="https://store.world.co.jp/s/brand/tk/common/img/ico_search.svg" alt="" />
        <form class="header-search__form" id="searchform" method="get" action="/s/brand/tk/search">
          <input class="header-search__txt" type="text" placeholder="何をお探しですか？" id="searchtxt" name="fr" />
          <label class="header-search__btn" for="searchsubmit">探す</label>
          <input id="searchsubmit" type="submit" value="探す" style="display:none;" /><input type="hidden" name="link_id" value="${area.value.option06}_H_search" />
          <input type="hidden" name="st" value="1" /><!-- 在庫アリパラメータ追加用 -->
        </form>
      </div>
    </div>
    <div class="bottom">
      <div class="header-keyward">
        <div class="header-keyward__wrap">
          <!-- MTから取得 -->
          <a href="https://store.world.co.jp/s/brand/tk/search?so=NEW&sa=0&un=item&link_id=170_H_word" class="header-keyward__item">新着アイテム</a><a href="https://store.world.co.jp/s/brand/tk/category/XB/?link=FACET&dbr=BR170&link_id=170_H_word" class="header-keyward__item">トップス</a><a href="https://store.world.co.jp/s/brand/tk/search?ta=DC02&link_id=170_H_word" class="header-keyward__item">セットアップ</a><a href="https://store.world.co.jp/s/brand/tk/search?st=1&dbr=BR170&un=item&it=XK01,XK02,XK03,XK04,XK05,XK06,XK08,XK09,XK10,XK12,XK99&link_id=170_H_word" class="header-keyward__item">BAG</a><a href="https://store.world.co.jp/s/brand/tk/category/XE/?link=FACET&st=1&dbr=BR170&link_id=170_H_word" class="header-keyward__item">パンツ</a><a href="https://store.world.co.jp/s/brand/tk/search?st=1&rd=01&sst1=2&fr=979&link_id=170_H_word" class="header-keyward__item">WEB限定商品</a>
        </div>
      </div>
    </div><!-- /ALL MENU -->
    <div class="slideBox">
      <div class="tk_headfoot">
        <div class="tk_headfoot_section01">
          <p class="tk_label">ONLINESTORE:</p>
          <ul class="tk_headfoot_list01">
            <li><a href="https://store.world.co.jp/s/brand/tk/search?link_id=${area.value.option06}_H_all-items">すべてのアイテム</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/search?du=0&so=NEW&link_id=${area.value.option06}_H_new-items">新着アイテム</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/item/gift/?link_id=${area.value.option06}_H_gift">ギフト</a></li>
            <!-- <li><a href="https://store.world.co.jp/s/brand/tk/ranking/?link_id=${area.value.option06}_H_ranking-items">ランキング</a></li> -->
          </ul>
          <ul class="tk_headfoot_list01">
            <!-- アイテム用アコーディオン -->
            <li>
              <a href="#" class="nav_btn">ランキング</a>
              <div class="nav_cat">
                <ul class="subnav_tops">
                  <li><a href="https://store.world.co.jp/s/brand/tk/item/ranking/?link_id=170_H_ranking-all">ALL</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/men/ranking/?link_id=170_H_ranking-mens">MENS</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/women/ranking/?link_id=170_H_ranking-womens">WOMENS</a></li>
                </ul>
              </div>
            </li>
            <!-- アイテム用アコーディオン -->

            <li>
              <a href="#" class="nav_tops">トップス</a>
              <div class="tops_cat">
                <ul class="subnav_tops">
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XB02,XB03,XB04,XB05,XB06,XB12,XB15,XB17,XB99&st=1&link_id=${area.value.option06}_H_shopping01">カットソー</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XB09,XB10,XB99&st=1&link_id=${area.value.option06}_H_shopping02">シャツ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XB01,XB06,XB17,XB99&st=1&link_id=${area.value.option06}_H_shopping03">ニット</a></li>
                </ul>
              </div>
            </li>
            <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XA01,XA02,XA03,XA04,XA05,XA06,XA07,XA08,XA21,XA22,XA23,XA99&st=1&link_id=${area.value.option06}_H_shopping04">ジャケット</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/category/XE/?st=1&link_id=${area.value.option06}_H_shopping05">パンツ</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XA06,XA07,XA08,XA09,XA10,XA11,XA12,XA13,XA14,XA15,XA16,XA17,XA18,XA19,XA20,XA21,XA22,XA23,XA99&st=1&link_id=${area.value.option06}_H_shopping06">コート</a></li>
            <li>
              <a href="#" class="nav_goods">雑貨</a>
              <div class="goods_cat">
                <ul class="subnav_goods">
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XK01,XK02,XK03,XK04,XK05,XK06,XK07,XK08,XK09,XK10,XK12,XK13,XK99&st=1&link_id=${area.value.option06}_H_shopping07">バッグ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XJ/?st=1&link_id=${area.value.option06}_H_shopping08">シューズ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XK13,XK14,XK15,XK16,XN16,XK99&st=1&link_id=${area.value.option06}_H_shopping09">財布</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XK14,XK15,XK16,XN16,XK99&st=1&link_id=${area.value.option06}_H_shopping10">小物入れ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XL/?st=1&link_id=${area.value.option06}_H_shopping11">帽子</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XM/?st=1&link_id=${area.value.option06}_H_shopping12">アクセサリー</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN01/?st=1&link_id=${area.value.option06}_H_shopping13">マフラー</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN07/?st=1&link_id=${area.value.option06}_H_shopping14">グローブ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN10/?st=1&link_id=${area.value.option06}_H_shopping15">ネクタイ</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XP/XP03/?st=1&link_id=${area.value.option06}_H_shopping16">ソックス</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN05/?st=1&link_id=${area.value.option06}_H_shopping17">ベルト</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN06/?st=1&link_id=${area.value.option06}_H_shopping18">眼鏡</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/wrapping/?st=1&link_id=${area.value.option06}_H_shopping19">ラッピングキット</a></li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XN09,XN16&link_id=${area.value.option06}_H_shopping20">その他</a></li>
                </ul>
              </div>
            </li>
            <li><a href="https://store.world.co.jp/s/brand/tk/category/XK/?st=1&link_id=${area.value.option06}_H_shopping21">バッグ</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/category/XJ/?st=1&link_id=${area.value.option06}_H_shopping22">シューズ</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/category/XN/XN05/?st=1&link_id=${area.value.option06}_H_shopping23">ベルト</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/category/XM/?st=1&link_id=${area.value.option06}_H_shopping24">アクセサリー</a></li>

            <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XT&st=1&so=NEW&link_id=${area.value.option06}_H_shopping25">コスメ・フレグランス</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/search?it=XN99,AN01,XT&st=1&so=NEW&link_id=${area.value.option06}_H_shopping26">その他の雑貨</a></li>

            <li><a href="https://store.world.co.jp/s/brand/tk/wrapping/?link_id=${area.value.option06}_H_shopping27">ラッピングキット</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/sale/?link_id=${area.value.option06}_H_shopping28">セール</a></li>
            <!-- <li><a href="https://store.world.co.jp/s/brand/tk/sale/?link_id=${area.value.option06}_H_shopping14" style="color: #a40001;">SALE</a></li> -->
            <li><a href="https://store.world.co.jp/help/?link_id=${area.value.option06}_H_guide">ショピングガイド</a></li>
            <li class="list_sizelist">
              <a href="#" class="nav_sizelist">サイズリスト</a>
              <div class="sizelist">
                <!-- .tep-size -->
                <div class="size-list_inr">
                  <p class="size-list_title">サイズリスト</p>
                  <div class="size-list_top">
                    <p><span>66</span>WOMENS<br />FREE</p>
                    <p><span>88</span>MENS<br />FREE</p>
                    <p><span>01</span>S</p>
                    <p><span>02</span>M</p>
                    <p><span>03</span>L</p>
                    <p><span>04</span>XL</p>
                    <p><span>05</span>XXL</p>
                  </div>
                  <p class="size-list_title">基本ヌードサイズ</p>
                  <table class="size-list_guide">
                    <tbody>
                      <tr>
                        <th>表記</th>
                        <td><span>66</span><span>WOMENS FREE</span></td>
                        <td><span>01</span><span>S</span></td>
                        <td><span>02</span><span>M</span></td>
                        <td><span>03</span><span>L</span></td>
                        <td><span>04</span><span>XL</span></td>
                        <td><span>05</span><span>XXL</span></td>
                      </tr>
                      <tr>
                        <th>身長<br />中心サイズ</th>
                        <td>155～165<br />160</td>
                        <td>160～170<br />165</td>
                        <td>165～175<br />170</td>
                        <td>170～180<br />175</td>
                        <td colspan="2">175～185<br />180</td>
                      </tr>
                      <tr>
                        <th>バスト<br />中心サイズ</th>
                        <td>78～84<br />82</td>
                        <td>82～88<br />86</td>
                        <td>86～92<br />90</td>
                        <td>90～96<br />94</td>
                        <td>94～100<br />98</td>
                        <td>98～104<br />102</td>
                      </tr>
                      <tr>
                        <th>ウエスト<br />中心サイズ</th>
                        <td>62～68<br />64</td>
                        <td>68～74<br />72</td>
                        <td>72～78<br />76</td>
                        <td>76～82<br />80</td>
                        <td>80～86<br />84</td>
                        <td>84～90<br />88</td>
                      </tr>
                      <tr>
                        <th>ヒップ<br />中心サイズ</th>
                        <td>84～90<br />88</td>
                        <td>80～86<br />84</td>
                        <td>84～90<br />88</td>
                        <td>88～94<br />92</td>
                        <td>92～98<br />96</td>
                        <td>96～102<br />100</td>
                      </tr>
                      <tr>
                        <th>ネック</th>
                        <td>～34</td>
                        <td>～35</td>
                        <td>～36</td>
                        <td>～38</td>
                        <td>～39</td>
                        <td>～40</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="size-list_desc">
                    <li>※商品の製品寸法は各商品ページをご確認ください</li>
                    <li>※商品によってサイズ展開は異なります</li>
                    <li>※66(WOMENS FREE)サイズは一部店舗での展開となります</li>
                    <li>※05(XXL)サイズは WEB 限定展開となります</li>
                  </ul>
                </div>
              </div><!-- /.sizelist -->
            </li>
          </ul>
        </div>
        <div class="tk_headfoot_section02">
          <p class="tk_label">CONTENTS:</p>
          <ul class="tk_headfoot_list01 left" style="vertical-align: top;">
            <li><a href="https://store.world.co.jp/s/brand/tk/news/?link_id=${area.value.option06}_H_news">NEWS</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/snap-search.html?label=BR170&coordinate_label_id=700&link_id=${area.value.option06}_H_staffsnap">STAFF SNAP</a></li>
          </ul>
          <ul class="tk_headfoot_list01 right" style="vertical-align: top;">
            <li><a href="https://store.world.co.jp/real-store-search?pref=&dbr=BR170&pcf=1&so=1%2C3&link_id=${area.value.option06}_H_shoplist">SHOP LIST</a></li>
            <li><a href="https://store.world.co.jp/s/brand/tk/feature/?link_id=${area.value.option06}_H_feature">FEATURE</a></li>
          </ul>
          <ul class="tk_headfoot_list01" style="vertical-align: top;clear: both;">
            <li>
              <a href="#" class="nav_stylelook">STYLE LOOK</a>
              <div class="stylelook_cat" style="display: block;">
                <ul class="subnav_stylelook">
                  <li>
                    <a href="https://store.world.co.jp/s/brand/tk/feature/20240502/?link_id=170_H_stylelook01" class="">2024 SUMMER&nbsp;</a>
                  </li>
                  <li><a href="https://store.world.co.jp/s/brand/tk/stylelook/?link_id=170_H_stylelook00">ARCHIVES</a></li>
                </ul>
              </div>
            </li>
            <li><a href="https://store.world.co.jp/s/brand/tk/concept/?link_id=${area.value.option06}_H_concept">CONCEPT</a></li>
          </ul>
        </div>
        <div class="tk_headfoot_sns">
          <ul>
            <li><a href="https://lin.ee/Vs6tBUM" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/icon_line.svg" width="35" alt="LINE" /></a></li>
            <li><a href="https://twitter.com/_tk1999" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/icon_x.png" width="33" alt="twitter" /></a></li>
            <li><a href="https://www.facebook.com/TK.1999.world?link_id=${area.value.option06}_F_facebook" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_facebook.svg" width="35" alt="facebook" /></a></li>
            <li><a href="https://instagram.com/tk.TAKEOKIKUCHI_official/?link_id=${area.value.option06}_F_instagram" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_insta.png" width="35" alt="Instagram" /></a></li>
            <li><a href="http://wear.jp/brand/tk/?user_type=1&type_id=2" target="_blank"><img src="https://store.world.co.jp/s/brand/tk/common/img/ico_wear.png" width="35" alt="wear" /></a></li>
          </ul>
        </div>
        <div class="tk_ft_bnr">
          <ul class="tk_headfoot_list01">
            <li class="txt_center"><a href="https://store.world.co.jp/mail-magazine-search?div=13&br=BR${area.value.option06}&mode=50_H_mailmagazine">MAIL MAGAZINE</a></li>
            <li class="txt_center" style="border: none; margin-top: 5vw;"><a href="https://store.world.co.jp/s/brand/takeo-kikuchi/" style="padding: 0;"><img src="https://store.world.co.jp/s/brand/tk/common/img/bnr_takeo-official.gif" alt="" style="width: 60%;" /></a></li>
          </ul>
        </div>
        <!--div class="tk_ft_bnr">
<ul class="tk_headfoot_list01 left">
<li class="txt_center"><a href="http://my.world.co.jp/mmagazine_sc.do?mmClass=02&amp;mmCode=000023">MAIL MAGAZINE</a></li>
</ul>
<ul class="tk_headfoot_list01 right">
<li class="txt_center"><a href="#">メンバー登録</a></li>
</ul>
</div-->
        <div class="modal_close_wrap">
          <div class="modal_close_inner">
            <p class="modal_close">CLOSE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /block2 -->
</div>
