---

---

<!--HEADER-->
<div id="block2" class="clearfix">
  <div class="tk-header">
    <h1><a href="https://store.world.co.jp//s/brand/tk/?link_id=${area.value.option06}_H_brlogo" title="TK TAKEO KIKUCHI（ティーケー タケオキクチ）"><img src="https://store.world.co.jp//s/brand/tk/common/img/logo_tk.svg" alt="TK TAKEO KIKUCHI（ティーケー タケオキクチ）" /></a></h1>
    <div class="middle">
      <ul class="gnav">
        <li class="gn-mens hvr-underline-from-left">
          <a href="https://store.world.co.jp/javascript:void(0)">MENS</a>
          <div>
            <span>
              <ul class="mens_cat01">
                <li class="ttl_cat">トップス</li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XB02,XB03,XB04,XB05,XB06,XB12,XB15,XB17,XB99&st=1&link_id=170_H_shopping01">カットソー</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XB09,XB10,XB99&st=1&link_id=170_H_shopping02">シャツ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XB01,XB06,XB17,XB99&st=1&link_id=170_H_shopping03">ニット</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XA01,XA02,XA03,XA04,XA05,XA06,XA07,XA08,XA21,XA22,XA23,XA99&st=1&link_id=170_H_shopping04">ジャケット</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XE/?dbr=BR170&st=1&link_id=170_H_shopping05">パンツ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XA06,XA07,XA08,XA09,XA10,XA11,XA12,XA13,XA14,XA15,XA16,XA17,XA18,XA19,XA20,XA21,XA22,XA23,XA99&st=1&link_id=170_H_shopping06">コート</a></li>
              </ul>
              <ul class="mens_cat02">
                <li class="ttl_cat">雑貨</li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XK01,XK02,XK03,XK04,XK05,XK06,XK07,XK08,XK09,XK10,XK12,XK13,XK99&st=1&link_id=170_H_shopping07">バッグ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XJ/?dbr=BR170&st=1&link_id=170_H_shopping08">シューズ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&it=XK13,XK14,XK15,XK16,XK99,XN16&st=1&link_id=170_H_shopping09">財布/小物入れ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XL/?dbr=BR170&st=1&link_id=170_H_shopping10">帽子</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XM/?dbr=BR170&st=1&link_id=170_H_shopping11">アクセサリー</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XN/XN01/?dbr=BR170&st=1&link_id=170_H_shopping12">マフラー</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XN/XN07/?dbr=BR170&st=1&link_id=170_H_shopping13">グローブ</a></li>
              </ul>
              <ul class="mens_cat03 lst">
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XN/XN05/?dbr=BR170&st=1&link_id=170_H_shopping14">ベルト</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/XN/XN06/?dbr=BR170&st=1&link_id=170_H_shopping15">眼鏡</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?it=XT&st=1&so=NEW&st=1&link_id=170_H_shopping16">コスメ・フレグランス</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?it=XN99,AN01,XT&st=1&so=NEW&st=1&link_id=170_H_shopping17">その他雑貨</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/wrapping/?st=1&link_id=170_H_shopping18">ラッピングキット</a></li>
              </ul>
              <ul class="mens_cat04 list_bnr list_topics" style="max-width: 279px;">
                <li>
                  <p class="ttl_pickup">PICK UP&nbsp;&starf;&nbsp;FEATURE</p>
                  <a href="https://store.world.co.jp/s/brand/tk/feature/20240802/?link_id=170_H_shopping21">
                    <img src="https://store.world.co.jp/s/brand/tk/top/img/bnr/2024/31w/bnr_hallypotter.jpg" alt="Harry Potter Capsule Collection" width="218" class="thumbnail" />
                    <span class="title" style="width: max-content;">Harry Potter Capsule Collection</span>
                  </a>
                </li>
              </ul>
              <ul class="mens_cat05">
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&st=1&link_id=170_H_shopping19">すべてのアイテム</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BR170&st=1&du=0&so=NEW&link_id=170_H_shopping20">新着アイテム</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/item/gift/?st=1&link_id=170_H_shopping43">ギフト</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/sale/?st=1&link_id=170_H_shopping21">セール</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/men/ranking/?link_id=170_H_shopping22">ランキング</a></li>
              </ul>
            </span>
          </div>
        </li>
        <li class="gn-womens hvr-underline-from-left">
          <a href="https://store.world.co.jp/javascript:void(0)">WOMENS</a>
          <div>
            <span>
              <ul class="womens_cat01">
                <li class="ttl_cat">トップス</li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WB02,WB03,WB04,WB05,WB06,WB12,WB15,WB11,WB99&st=1&link_id=170_H_shopping23">カットソー</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WB07,WB08,WB99&st=1&link_id=170_H_shopping24">シャツ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WB01,WB06,WB17,WB99&st=1&link_id=170_H_shopping25">ニット</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WA01,WA02,WA03,WA04,WA05,WA06,WA07,WA08,WA21,WA22,WA23,WA99&st=1&link_id=170_H_shopping26">ジャケット</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WE/?dbr=BRP97&st=1&link_id=170_H_shopping27">パンツ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WA06,WA07,WA08,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA22,WA23,WA99&st=1&link_id=170_H_shopping28">コート</a></li>
              </ul>
              <ul class="womens_cat02">
                <li class="ttl_cat">雑貨</li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WK01,WK02,WK03,WK04,WK05,WK06,WK07,WK08,WK09,WK10,WK12,WK13,WK99&st=1&link_id=170_H_shopping29">バッグ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WJ/?dbr=BRP97&st=1&link_id=170_H_shopping43">シューズ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&it=WK13,WK14,WK15,WK16,WK99,WN16&st=1&link_id=170_H_shopping30">財布/小物入れ</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WL/?dbr=BRP97&st=1&link_id=170_H_shopping31">帽子</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WM/?dbr=BRP97&st=1&link_id=170_H_shopping32">アクセサリー</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WN/WN01/?dbr=BRP97&st=1&link_id=170_H_shopping33">マフラー</a></li>
              </ul>
              <ul class="womens_cat03 lst">
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WN/WN05/?dbr=BRP97&st=1&link_id=170_H_shopping34">ベルト</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/category/WN/WN06/?dbr=BRP97&st=1&link_id=170_H_shopping35">眼鏡</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?it=XT&st=1&so=NEW&link_id=170_H_shopping36">コスメ・フレグランス</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?it=XN99,AN01,XT&st=1&so=NEW&st=1&link_id=170_H_shopping37">その他雑貨</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/wrapping/?st=1&link_id=170_H_shopping38">ラッピングキット</a></li>
              </ul>
              <ul class="womens_cat04 list_bnr list_topics" style="max-width: 279px;">
                <li>
                  <p class="ttl_pickup">PICK UP&nbsp;&starf;&nbsp;FEATURE</p>
                  <a href="https://store.world.co.jp/s/brand/tk/feature/20240802/?link_id=170_H_shopping21">
                    <img src="https://store.world.co.jp/s/brand/tk/top/img/bnr/2024/31w/bnr_hallypotter.jpg" alt="Harry Potter Capsule Collection" width="218" class="thumbnail" />
                    <span class="title" style="width:max-content;">Harry Potter Capsule Collection</span>
                  </a>
                </li>
              </ul>
              <ul class="womens_cat05">
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&st=1&link_id=170_H_shopping39">すべてのアイテム</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/search?dbr=BRP97&du=0&so=NEW&&st=1link_id=170_H_shopping40">新着アイテム</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/item/gift/?st=1&link_id=170_H_shopping44">ギフト</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/sale/search?dbr=BRP97&so=NEW&&st=1link_id=170_H_shopping41">セール</a></li>
                <li><a href="https://store.world.co.jp//s/brand/tk/women/ranking/?link_id=170_H_shopping42">ランキング</a></li>
              </ul>
            </span>
          </div>
        </li>
        <li class="gn-sale hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/sale/?link_id=${area.value.option06}_H_sale" class="sale" style="color: #a40001;">SALE</a></li>
        <li class="gn-news hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/news/?link_id=${area.value.option06}_H_news">NEWS</a></li>
        <li class="gn-feature hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/feature/?link_id=${area.value.option06}_H_feature">FEATURE</a></li>
        <li class="gn-feature hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/stylelook/?link_id=${area.value.option06}_H_stylelook">STYLE LOOK</a></li>
        <li class="gn-snap hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/snap-search.html?label=BR170&coordinate_label_id=700&link_id=${area.value.option06}_H_staffsnap">STAFF SNAP</a></li>
        <li class="gn-gift hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/item/gift/?link_id=${area.value.option06}_H_gift">GIFT</a></li>
        <li class="gn-concept hvr-underline-from-left"><a href="https://store.world.co.jp//s/brand/tk/concept/?link_id=${area.value.option06}_H_concept">CONCEPT</a></li>
        <li class="gn-shoplist hvr-underline-from-left"><a href="https://store.world.co.jp//real-store-search?pref=&dbr=BR170&pcf=1&so=1%2C3&link_id=${area.value.option06}_H_shoplist" class="slidemove">SHOP LIST</a></li>
      </ul>
      <ul class="header-sns">
        <li><a href="https://store.world.co.jp/https://lin.ee/Vs6tBUM" target="_blank"><img src="https://store.world.co.jp//s/brand/tk/common/img/icon_line.svg" width="50" alt="LINE" /></a></li>
        <li style="width: 21px;"><a href="https://store.world.co.jp/https://twitter.com/_tk1999" target="_blank"><img src="https://store.world.co.jp//s/brand/tk/common/img/icon_x.svg" width="50" alt="x" /></a></li>
        <li><a href="https://store.world.co.jp/https://www.facebook.com/TK.1999.world?link_id=170_F_facebook" target="_blank"><img src="https://store.world.co.jp//s/brand/tk/common/img/ico_facebook.svg" width="50" alt="facebook" /></a></li>
        <li><a href="https://store.world.co.jp/https://instagram.com/tk.TAKEOKIKUCHI_official/?link_id=170_F_instagram" target="_blank"><img src="https://store.world.co.jp//s/brand/tk/common/img/ico_insta.png" width="50" alt="Instagram" /></a></li>
        <li><a href="https://store.world.co.jp/http://wear.jp/brand/tk/?user_type=1&type_id=2" target="_blank"><img src="https://store.world.co.jp//s/brand/tk/common/img/ico_wear.png" width="50" alt="wear" /></a></li>
      </ul>
    </div>
    <div class="bottom">
      <div class="header-search">
        <img class="header-search__ico" src="https://store.world.co.jp//s/brand/tk/common/img/ico_search.svg" alt="" />
        <form class="header-search__form" id="searchform" method="get" action="/s/brand/tk/search">
          <input class="header-search__txt" type="text" placeholder="何をお探しですか？" id="searchtxt" name="fr" />
          <input class="header-search__btn" type="submit" value="探す" /><input type="hidden" name="link_id" value="${area.value.option06}_H_search" />
          <input type="hidden" name="st" value="1" /><!-- 在庫アリパラメータ追加用 -->
        </form>
      </div>
      <div class="header-keyward">
        <p class="header-keyward__ttl">注目のキーワード：</p>
        <div class="header-keyward__inner">
          <div class="header-keyward__wrap">
            <!-- MT自動取得 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/HEADER-->
