---

---

<header class="aubriot-header" data-js="h-fixed">
  <div class="aubriot-header__inner" data-js="h-change">
    <div class="aubriot-header__col">
      <h1 class="aubriot-logo">
        <a href="https://store.world.co.jp/s/brand/${area.value.option04}/?link_id=${area.value.option06}_H_logo">AUBRIOT｜オブリオ</a>
      </h1>
    </div>

    <div class="aubriot-header__col">
      <ul class="aubriot-menu" data-js="h-pull-down">
        <li>
          <a href="javascript:void(0)">ONLINE STORE</a>
          <div data-js="h-pull-down-cnt" style="display: none;">
            <ul class="aubriot-menu-list">
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?link_id=S51_H_all"> ALL </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WB&link_id=S51_H_tops"> TOPS </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WC&link_id=S51_H_onepiece"> ONE-PIECE </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WD&link_id=S51_H_skirt"> SKIRT </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WE&link_id=S51_H_pants"> PANTS </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WA01,WA02,WA03,WA04,WA05,WA06,WH01&link_id=S51_H_jacket"> JACKET </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/search?it=WA06,WA07,WA09,WA10,WA11,WA12,WA13,WA14,WA15,WA16,WA17,WA18,WA19,WA20,WA21,WA23&link_id=S51_H_coat"> COAT </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="aubriot-menu" data-js="h-pull-down">
        <li>
          <a href="javascript:void(0)">LOOK 2024 SS</a>
          <div data-js="h-pull-down-cnt" style="display: none;">
            <ul class="aubriot-menu-list">
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/lookbook/24ss/vol1/?link_id=S51_H_look1"> VOL.1 </a>
              </li>
              <li>
                <a href="https://store.world.co.jp/s/brand/aubriot/lookbook/24ss/vol2/?link_id=S51_H_look2"> VOL.2 </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="aubriot-header__col">
      <p class="aubriot-menu">
        <a href="https://store.world.co.jp/s/brand/aubriot/news/?link_id=S51_H_news"> NEWS / SCHEDULE </a>
      </p>
      <p class="aubriot-menu aubriot-search" data-js="h-search">SEARCH</p>
      <div class="aubriot-search-cnt" data-js="h-search-cnt">
        <div class="aubriot-search-cnt-inner">
          <div class="free-search">
            <form class="free-search-form" action="/s/brand/aubriot/search" autocomplete="off">
              <input class="free-search-input" type="text" placeholder="検索キーワードを入力" name="fr" value="" />
              <input type="hidden" name="link_id" value="S51_H_search" />
              <input type="hidden" name="st" value="1" /><!-- 在庫アリパラメータ追加用 -->
            </form>
          </div>
          <div class="aubriot-btn-close" data-js="h-search-close"></div>
        </div>
      </div>
    </div>
    <div class="aubriot-header__col">
      <p class="aubriot-menu aubriot-account">
        <a href="https://store.world.co.jp/auth?link_id=${area.value.option06}_H_login&next=,${currentUrl}">ACCOUNT</a>
      </p>
      <p class="aubriot-menu aubriot-cart">
        <a href="https://store.world.co.jp/order/cart?link_id=${area.value.option06}_H_cart">CART (<span class="itemNum" data-js="h-cart">0</span>)</a>
      </p>
    </div>
  </div>
</header>

<div id="concept-modal" class="concept-modal js-modal">
  <div class="concept-modal-bg"></div>
  <div class="concept-modal-cnt">
    <div class="concept-modal-cnt-inner">
      <div class="concept-btn-close js-concept-modal-close"></div>
      <h3 class="concept-modal-ttl">CONCEPT</h3>
      <p class="concept-modal-txt">
        凛とした佇まい<br />
        アンバランスな魅力<br />
        曖昧さを楽しむ<br />
        シックである事<br />
        <br />
        しなやかに今を生きる<br />
        多面的な魅力を秘めた女性のための<br />
        エレガントでアグリーシックなコレクション<br />
        <br />
        好きなピースを自由に組み合わせて<br />
        大切に長く愉しむ<br />
        <br />
        10 年後も変わらずいいなと思えるものを
      </p>
      <hr class="concept-modal-line" />
      <h4 class="concept-modal-brand-ttl">Aubriot</h4>
      <p class="concept-modal-brand-txt">
        オブリオ通り/rue Aubriotは<br />
        パリ4区にある18世紀に整備された<br />
        白い石造りの建物が並ぶ美しい通り
      </p>
      <ul class="concept-modal-pic-list" data-js="slick-concept">
        <li>
          <img src="https://store.world.co.jp/s/brand/aubriot/common/img/concept/concept_pic_01.jpg" alt="" />
        </li>
        <li>
          <img src="https://store.world.co.jp/s/brand/aubriot/common/img/concept/concept_pic_02.jpg" alt="" />
        </li>
        <li>
          <img src="https://store.world.co.jp/s/brand/aubriot/common/img/concept/concept_pic_03.jpg" alt="" />
        </li>
        <li>
          <img src="https://store.world.co.jp/s/brand/aubriot/common/img/concept/concept_pic_04.jpg" alt="" />
        </li>
      </ul>
      <p class="modal-concept-close-txt">
        <a href="javascript:void()" class="js-concept-modal-close">close</a>
      </p>
    </div>
  </div>
</div>
